# imports

In [1]:
import pandas as pd
import numpy as np
import inflection
import math
import seaborn as sns
import datetime
from matplotlib import pyplot as plt
from IPython.core.display import HTML
from IPython.display import Image
from scipy import stats
from sklearn.preprocessing import RobustScaler, MinMaxScaler, LabelEncoder

In [2]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    sns.set()
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

# load data

In [3]:
df6 = pd.read_csv('data/df5.csv',low_memory=False)

In [4]:
df6.head()

,store,day_of_week,date,sales,promo,school_holiday,store_type,assortment,competition_distance,competition_open_since_month,...,season_summer,season_winter,month_sin,month_cos,day_sin,day_cos,week_of_year_sin,week_of_year_cos,day_of_week_sin,day_of_week_cos
0,1,5,2015-07-31,8.568456,1,1,2,1,-0.170968,9,...,1,0,-0.5,-0.866025,-2.449294e-16,1.0,-0.568065,-0.822984,-0.974928,-0.222521
1,2,5,2015-07-31,8.710125,1,1,0,1,-0.283871,11,...,1,0,-0.5,-0.866025,-2.449294e-16,1.0,-0.568065,-0.822984,-0.974928,-0.222521
2,3,5,2015-07-31,9.025696,1,1,0,1,1.903226,12,...,1,0,-0.5,-0.866025,-2.449294e-16,1.0,-0.568065,-0.822984,-0.974928,-0.222521
3,4,5,2015-07-31,9.546455,1,1,2,3,-0.275806,9,...,1,0,-0.5,-0.866025,-2.449294e-16,1.0,-0.568065,-0.822984,-0.974928,-0.222521
4,5,5,2015-07-31,8.480944,1,1,0,1,4.448387,4,...,1,0,-0.5,-0.866025,-2.449294e-16,1.0,-0.568065,-0.822984,-0.974928,-0.222521

In [5]:
df6.dtypes

store                             int64
day_of_week                       int64
date                             object
sales                           float64
promo                             int64
school_holiday                    int64
store_type                        int64
assortment                        int64
competition_distance            float64
competition_open_since_month      int64
competition_open_since_year       int64
promo2                            int64
promo2_since_week                 int64
promo2_since_year                 int64
is_promo                          int64
year                            float64
month                             int64
day                               int64
week_of_year                      int64
year_week                        object
competition_since                object
competition_time_month            int64
promo_since                      object
promo_time_week                 float64
competition_ time_month         float64
state_holiday_christmas           int64
state_holiday_easter_holiday      int64
state_holiday_public_holiday      int64
state_holiday_regular_day         int64
season_fall                       int64
season_spring                     int64
season_summer                     int64
season_winter                     int64
month_sin                       float64
month_cos                       float64
day_sin                         float64
day_cos                         float64
week_of_year_sin                float64
week_of_year_cos                float64
day_of_week_sin                 float64
day_of_week_cos                 float64
dtype: object

In [7]:
df6['date'] = pd.to_datetime(df6['date'])
df6['competition_since'] = pd.to_datetime(df6['competition_since'])
df6['promo_since'] = pd.to_datetime(df6['promo_since'])

In [ ]:
# num_attribures = df5.select_dtypes(include=['int64','int32','float64'])
# cat_attribures = df5.select_dtypes(exclude=['int64','int32','float64','datetime64[ns]'])